.body {
	font-family: 'Adelle', 'News Cycle', sans-serif;
	font-weight: 100;
	/* font-style: italic; */

	background-color: #0B659B;
	margin: 0;
	padding: 0;
	background-image: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.12) 0%, rgba(255,255,255,0.00) 400px);
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
	color: rgb(145, 216, 255);
	/* color: #78C4EE; */
	font-size: 18px;
	line-height: 24px;
}
